@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&family=Orbitron:wght@900&family=Work+Sans:wght@100;500;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&family=Lato:wght@100;400&family=Orbitron:wght@900&family=Work+Sans:wght@100;500;700&display=swap');
*{
    padding: 0%;
    margin: 0%;
    font-family: "Lato",sans-serif; 
}
html{
    scroll-behavior: smooth;
}
#particles-js{
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0);
    position: absolute;
}
h1{
    font-size: 1.75em;
    color: aliceblue;
    padding-left: 10%;
    padding-top: 18.353808353808354vh;
}
p{
    padding-bottom: 1.5rem;
    width: 75%;
    color:white;
    opacity: 1;
    font-size: 1rem;
    margin-left: 10%;
}
/*inicio header 1*/
.header1{
    height: 4.25rem;
    width: 100%;
    display: flex;
    position: fixed;
    opacity:1;
    backdrop-filter: blur(17px);
    z-index: 99;
    background: rgba(210, 210, 218, 0.192);
}
.boxName1{
    height: 100%;
    width: 70%;
}
.name_image{
    background-image: url(./img/Grupo\ 14423.png);
    height: 2.25em;
    width: 7.553rem;
    background-size: 100% 100%;
    margin-left: 8.845208845208845vh;
    margin-top: 0.9em;
}
/* Estilos para el ícono del Menú */
.icono-menu{
    margin: auto;
    position: relative;
    z-index: 10;
}
.icono-menu img{
    vertical-align: top;
    width: 40px;
    cursor: pointer;
}
/* Estilos para el contenedor del Menú */
.cont-menu{
    width: 100%;
    height: 60.8vh;
    transition: all .5s ease;
    position: absolute;

    
    background: rgba( 247, 247, 247, 0.5 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    opacity: 1;
    backdrop-filter: blur(17px);
    -webkit-backdrop-filter:blur(17px); 
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
/* Estilos por agregar en JavaScript */
.active{
    transform: translate(2000px);
}

/* Estilos para el listado del Menú */
.cont-menu ul{
    padding: 100px 0px 20px 0px;
    list-style: none;
}
.cont-menu ul li{
    color: white;
    display: block;
    font-size: 25px;
    text-decoration: none;
    padding: 10px 50px;
    cursor: pointer;
}
.cont-menu ul li:hover{
    background-color: rgb(228,228,228);
    color: rgb(42,42,42);
}
/*fin header 1*/
/*inicio presentación*/
.presentacion{
    width: 100%;
    height: 95.54601226993865vw;
    background-image: url(./img/Grupo\ 14430.png);
    background-size: 100% 100%;
    scroll-margin-top: 8ex;
}
.text_presentacion{
    color: aliceblue;
    font-size: 1.125rem;
    padding-left: 10%;
    margin-top: 0.188rem;
}
.ver_portafolio{
    width: 123px;
    height: 31px;
    border: 1px solid var(--unnamed-color-eaeaea);
    background: transparent 0% 0% no-repeat padding-box;
    border: 1px solid #EAEAEA;
    border-radius: 5px;
    opacity: 1;
    color: #EAEAEA;
    margin-top:0.5rem;
    margin-left: 10%;
}
/*fin presentación*/
/*inicio sobre mi presentacion*/
.sobre_mi_presentacion{
    background: rgba(4,8,16,255);
}
.presentacion1{
    width: 100%;
    background-image: url(./img/Grupo\ 14432.png);
    background-size: 100% 100%;
}
.mi_imagen{
    background-image:url(./img/drawable-hdpi/Diseño\ sin\ título.png);
    height: 31.557377049180328vh;
    width: 31.557377049180328vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left: 10%;
    margin-top: 4.098360655737705vh;
    margin-bottom: 10%;
}
.sobre_mi{
    color: #EAEAEA;
    background-size:1.125rem;
    padding-top: 10%;
    margin-left: 10%;
}
.lista{
    width: 100%;
    padding-bottom: 15%;
    display: flex;
    background: rgba(4,8,16,255);
    justify-content: center;
    display:grid;
    grid-template-columns: 100px 100px;
    grid-row: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}
.li1{
    padding-right: 1.5vh;
}
li{
    font-size: 0.8rem;
    color: white;
}
a{
    font-size: 1.125;
    color: white;  
}
.lista li::marker{
    color:#00CDBA;
    transform: rotate(45deg);
}
/*fin sobre mi presentacion*/
/*inicio portafolio*/
.portafolio{
    background: rgba(4,8,16,255);
    scroll-margin-top: 8ex;
}
.portafolio_izquierda{
    display: flex; 
    justify-content: center; 
    align-items: center;
    padding-bottom: 10%;
}
.cuadrado_tramsparente{
    width: 149px;
    height: 140px;
    background: rgba(94, 94, 104, 0);
    border-radius: 15%;
    border:solid 1px #00CDBA ;
    display: flex; 
    justify-content: center; 
    align-items: center;
    position: relative;
    transition: 1s; 
}
.cuadrado_tramsparente:hover{
    width: 149px;
    height: 140px;
    background: #00CDBA;
    box-shadow: 0 0 1px  #00CDBA, 0 0 1px  #00CDBA, 0 0 1px  #00CDBA;
}
.cuadrado_gris{
    width: 98%;
    height: 98%;
    background: rgba(94, 94, 104, 0.301);
    border-radius: 15%;
}
.imagen_web_portafolio{
    width: 149px;
    height: 140px;
    background: rgba(0, 0, 0, 0);
    border-radius: 15%;
    margin-left: -38%;
    margin-top: -4%;
    background-image: url(./img/Captura_muestra.PNG);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.imagen_web_Codigo{
    width: 149px;
    height: 140px;
    background: rgba(82, 143, 13, 0);
    border-radius: 15%;
    margin-top: 15%;
    margin-left: -20%;
    background-image: url(./img/Captura_muestra_Codigo.PNG);
    background-size: cover;
    background-repeat: no-repeat;
}

.portafolio_derecha{
    display: flex; 
    justify-content: center; 
    align-items: center;
    padding-bottom: 10%;
}
.cuadrado_tramsparente2{
    width: 149px;
    height: 140px;
    background: rgba(94, 94, 104, 0);
    border-radius: 15%;
    border:solid 1px #00CDBA ;
    display: flex; 
    justify-content: center; 
    align-items: center;
    position: relative; 
    transition: 1s;
}
.cuadrado_tramsparente2:hover{
    width: 149px;
    height: 140px;
    background: #00CDBA;
    box-shadow: 0 0 1px  #00CDBA, 0 0 1px  #00CDBA, 0 0 1px  #00CDBA;
}
.imagen_web_portafolio2{
    width: 149px;
    height: 140px;
    background: rgba(0, 0, 0, 0);
    border-radius: 15%;
    margin-left: -38%;
    margin-top: -4%;
    background-image: url(./img/Captura_muestra.PNG);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.imagen_web_Codigo2{
    width: 149px;
    height: 140px;
    background: rgba(82, 143, 13, 0);
    border-radius: 15%;
    margin-top: 15%;
    margin-left: -60%;
    background-image: url(./img/Captura_muestra_Codigo.PNG);
    background-size: cover;
    background-repeat: no-repeat;
}
/*fin portafolio*/
/*inicio contactame*/
.contactame{
    background: rgba(4,8,16,255);
    padding-top: 15vh;
    scroll-margin-top: 8ex;
}
strong{
    color: #EAEAEA;
    margin-left: 3%;
    margin-right: 5%;
    font-size: 0.938rem;
}
footer{
    width: 100%;
    height: 8vh;
    color: #00CDBA;
    text-align: center;
    font-size: 0.813rem;
}
/*fin contactame*/