@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&family=Orbitron:wght@900&family=Work+Sans:wght@100;500;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&family=Lato:wght@100;400&family=Orbitron:wght@900&family=Work+Sans:wght@100;500;700&display=swap');
*{
    padding: 0%;
    margin: 0%;
    font-family: "Lato",sans-serif; 
}
html{
    scroll-behavior: smooth;
}
#particles-js{
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0);
    position: absolute;
}
h1{
    font-size: 1.75em;
    color: aliceblue;
    padding-left: 10%;
    padding-top: 18.353808353808354vh;
}
/*body{
    background:rgba(4,8,16,255);
}*/
p{
    padding-bottom: 1.5rem;
    width: 75%;
    color:white;
    opacity: 1;
    font-size: 1rem;
    margin-left: 10%;
    line-height: 28px;
}
/*inicio header 1*/
.header1{
    height: 4.25rem;
    width: 100%;
    display: flex;
    position: fixed;
    opacity:1;
    z-index: 99;
    background:rgba(4,8,16,255);
    opacity: 50px;
}
.boxName1{
    height: 100%;
    width: 70%;
}
.name_image{
    background-image: url(./img/Grupo\ 14423.png);
    height: 2.25em;
    width: 10rem;
    background-size: 100% 100%;
    margin-left: 3.8vh;
    margin-top: 0.9em;
}
/* Estilos para el ícono del Menú */
.icono-menu{
    margin: auto;
    position: relative;
    z-index: 10;
}
.icono-menu img{
    vertical-align: top;
    width: 40px;
    cursor: pointer;
}
/* Estilos para el contenedor del Menú */
.cont-menu{
    width: 100%;
    transition: all .5s ease;
    position: absolute;
    background: rgba(247, 247, 247, 0.26);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    opacity: 1;
    backdrop-filter: blur(17px);
    -webkit-backdrop-filter:blur(17px); 
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
/* Estilos por agregar en JavaScript */
.active{
    transform: translate(2000px);
}

/* Estilos para el listado del Menú */
.cont-menu ul{
    padding: 100px 0px 20px 0px;
    list-style: none;
}
.cont-menu ul li{
    color: white;
    display: block;
    font-size: 25px;
    text-decoration: none;
    padding: 10px 50px;
    cursor: pointer;
}
.cont-menu ul li:hover{
    background-color: rgb(228,228,228);
    color: rgb(42,42,42);
}
/*fin header 1*/
/*inicio pVentana Flotante*/

.ventana_flotante{
  
    justify-content: center;
    justify-items: center;
    background: #00CDBA;
    height: 17rem;
    width: 11rem;
    border-radius: 100px;
    text-align: center;
    position: absolute;
    left: 25%;
    top: 40%;
    display: none;
}
/*fin pVentana Flotante*/

/*inicio presentación*/
.presentacion{
    width: 100%;
    height: 95.54601226993865vw;
    background-image: url(./img/Grupo\ 14430.png);
    background-size: 100% 100%;
    scroll-margin-top: 8ex;
}
.text_presentacion{
    color: aliceblue;
    font-size: 1.125rem;
    padding-left: 10%;
    margin-top: 0.188rem;
}
.ver_portafolio{
    width: 123px;
    height: 31px;
    border: 1px solid var(--unnamed-color-eaeaea);
    background: transparent 0% 0% no-repeat padding-box;
    border: 1px solid #EAEAEA;
    border-radius: 5px;
    opacity: 1;
    color: #EAEAEA;
    margin-top:0.5rem;
    margin-left: 10%;
    position: relative;
}
.ver_portafolio_Enlace{
    font-size: 0.75rem;
    color: white;
    display:flex;
    position: relative;
    text-decoration: none;
    margin: auto;
    display: table-cell;
    padding: 0 1.68rem;   
}
.ver_portafolio_Enlace::after{
    content: none;
}
/*fin presentación*/
/*inicio sobre mi presentacion*/
.sobre_mi_presentacion{
    background: rgba(4,8,16,255);
    padding-bottom: 5%;
}
.presentacion1{
    width: 100%;
    background-image: url(./img/Grupo\ 14432.png);
    background-size: 100% 100%;
}
.mi_imagen{
    background-image:url(./img/drawable-hdpi/Diseño\ sin\ título.png);
    height: 31.557377049180328vh;
    width: 31.557377049180328vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left: 10%;
    margin-top: 4.098360655737705vh;
    margin-bottom: 10%;
}
.sobre_mi{
    color: #EAEAEA;
    background-size:1.125rem;
    padding-top: 10%;
    margin-left: 10%;
}
.sobre_mi_portafolio{
    color: #EAEAEA;
    background-size:1.125rem;
    padding-top: 10%;
    margin-left: 10%;
}
.lista{
    width: 100%;
    padding-bottom: 15%;
    display: flex;
    background: rgba(4,8,16,255);
    justify-content: center;
    display:grid;
    grid-template-columns: 100px 100px;
    grid-row: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}
.li1{
    padding-right: 1.5vh;
}
li{
    font-size: 0.8rem;
    color: white;
}
a{
    font-size: 1.25rem;
    color: white;
    display:flex;
    position: relative;
    margin-bottom: 30px;
    text-decoration: none;   
}
a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    top: 50px;
    left:0;
    background-color: #EAEAEA;
}
.lista li::marker{
    color:#00CDBA;
    transform: rotate(45deg);
}
/*fin sobre mi presentacion*/
/*inicio portafolio*/
.portafolio{
    background: rgba(4,8,16,255);
    scroll-margin-top: 8ex;
}
.portafolio_izquierda{
    display: flex; 
    justify-content: center; 
    align-items: center;
    padding-bottom: 10%;
}
.cuadrado_tramsparente{
    width: 160px;
    height: 170px;
    background: rgba(94, 94, 104, 0);
    border-radius: 15px;
    border:solid 1px #00CDBA ;
    display: flex; 
    justify-content: center; 
    align-items: center;
    position: relative;
    margin-left: -1rem;
}
/*.cuadrado_tramsparente:hover{
    width: 149px;
    height: 140px;
    background: #00CDBA;
    box-shadow: 0 0 1px  #00CDBA, 0 0 1px  #00CDBA, 0 0 1px  #00CDBA;
}*/
.cuadrado_gris{
    width: 98%;
    height: 98%;
    background: rgba(94, 94, 104, 0.301);
    border-radius: 15px;
}
.imagen_web_portafolio{
    width: 160px;
    height: 170px;
    background: rgba(0, 0, 0, 0);
    border-radius: 15px;
    margin-left: -9rem;
    margin-top: -1.5rem;
    background-image: url(./img/Captura_muestra.PNG);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.imagen_web_Codigo{
    width: 160px;
    height: 170px;
    background: rgba(82, 143, 13, 0);
    border-radius: 15px;
    margin-top: 10rem;
    margin-left: -4rem;
    background-image: url(./img/Captura_muestra_Codigo.PNG);
    background-size: cover;
    background-repeat: no-repeat;
}
.portafolio_derecha{
    display: flex; 
    justify-content: center; 
    align-items: center;
    padding-bottom: 10%;
}
.cuadrado_tramsparente2{
    width: 160px;
    height: 170px;
    background: rgba(94, 94, 104, 0);
    border-radius: 15px;
    border:solid 1px #00CDBA ;
    display: flex; 
    justify-content: center; 
    align-items: center;
    position: relative; 
}
.imagen_web_portafolio2{
    width: 160px;
    height: 170px;
    background: rgba(0, 0, 0, 0);
    border-radius: 15px;
    margin-left: -9.2rem;
    margin-top: -1.4rem;
    background-image: url(./img/Captura_muestra.PNG);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.imagen_web_Codigo2{
    width: 160px;
    height: 170px;
    background: rgba(82, 143, 13, 0);
    border-radius: 15px;
    margin-top: 9rem;
    margin-left: -18rem;
    background-image: url(./img/Captura_muestra_Codigo.PNG);
    background-size: cover;
    background-repeat: no-repeat;
}
/*fin portafolio*/
/*inicio contactame*/
.contactame{
    background: rgba(4,8,16,255);
    padding-top: 15vh;
    scroll-margin-top: 8ex;
}
.informacion_personal{
    display: flex;
    margin: auto;
    width: 100%;
}
.strongs{
    margin: auto;
    width: 11rem;
}
strong{
    color: #EAEAEA;
    margin-left: 3%;
    margin-right: 5%;
    font-size: 0.75rem;
}
footer{
    width: 100%;
    height: 8vh;
    color: #00CDBA;
    text-align: center;
    font-size: 0.813rem;
}
/*fin contactame*/

.boton_Descargar_curriculum{
    display: none;
}

@media (min-width:520px){
    .header1{
        height:7.063rem;
    }
    .boton_Descargar_curriculum{
        display: block;
    }
    .name_image{
        height: 2.25em;
        width: 11.188rem;
        margin-left: 18vh;
        margin-top: 2.3em;
    }
    .text_presentacion{
        width:35%;
        margin-bottom: 1rem;
        font-size: 2.5rem; 
    }
    H1{
       font-size: 3.75rem;
       padding-top: 30vh;
    }
    .ver_portafolio{
        width: 11.563rem;
        height: 2.938rem;
    }
    .ver_portafolio_Enlace{
        font-size: 0.875rem;
        padding: 0 3.25rem;
    }
    .presentacion{
        height: 100vh;
}
.presentacion1{

    background-image: none;
    position:absolute;

}
    .sobre_mi_presentacion{
        display: flex;
 
        width: 100%;
        background-image: url(./img/Grupo\ 14432.png);
        background-size: 100% 100%;
}   
    .sobre_mi{
        background-size:1.313rem;
}
    .mi_imagen{
        height:  41.40875133404482vh;
        width:  41.40875133404482vh;
        border-radius: 200px;
        margin-left: 60%;
    
        /*margin-top: 4.098360655737705vh;
        left: 50%;
        margin-bottom: 10%;
        position: relative;*/
}
.lista{
    margin-left: 10%;
    justify-content:left;
    display: flex;
    background: rgba(255, 0, 0, 0);
    width: 90%;
}
.li1{
    padding-right: 1.5vh;
}
li{
    font-size: 1rem;
}
.textos_parrafos{
    margin-top:13%;
}
.history{
    width: 35%;  
}

.cuadrado_tramsparente{
    width: 528px;
    height: 293px;
}
.imagen_web_portafolio{
    width: 528px;
    height: 293px;
    margin-left: -32rem;
}
.imagen_web_Codigo{
     width: 528px;
    height: 293px;
    margin-left: -10rem;
    margin-top: 15rem;
}
.cuadrado_tramsparente2{
    width: 528px;
    height: 293px;
    margin-left: 1rem;
    margin-top: 110px;
}
.imagen_web_portafolio2{
    width: 528px;
    height: 293px;
    margin-left: -32rem;
    margin-top: 90px;
}
.imagen_web_Codigo2{
    width: 528px;
    height: 293px;
    margin-left: -58rem;
    margin-top: 15rem;
}
.text_portafolio_izquierdo{
    /*width: 800px;*/
    width: 40%;
    /*height: 116px;*/
    height:  2%;
    position: relative;
    top:-640px;
    margin-left: 10%;
}
.text_portafolio_derecho{
     /*width: 800px;*/
     width: 40%;
     /*height: 116px;*/
     height:  2%;
    position: relative;
    top:-665px;
    margin-left: 55%;
}
.image_portafolio_boton{
    display: flex;
    justify-content: right;
}
.image_boton2{
    margin-right: 15%;
}
.header1{
    opacity:1;
    backdrop-filter: blur(17px);
    -webkit-backdrop-filter: blur(17px);
    z-index: 99;
    background: rgba(210, 210, 218, 0.192);
}
.sobre_mi_portafolio{
    font-size: 1.75em;
}
.sobre_mi{
    font-size: 1.75em;
    margin: auto;
    text-align: center;
}
.contactame{
    margin: auto;
    justify-content: center;
}
.texto_contactame{
width: 440px;
height: 78px;
justify-content:center;
margin: auto;
margin-top: 3vh;
text-align: center;
justify-content: center;
}
.boton_Descargar_curriculum{
    margin-bottom: 300px;
    width: 189px;
    height: 47px;
    border-radius: 5px;
    border: solid;
    list-style: none;
}
/*.boton_Descargar_curriculum li{
    list-style: red;
}*/





















/* Estilos para el ícono del Menú */
.icono-menu{
display: none;
}
/* Estilos para el contenedor del Menú */
/* Estilos para el contenedor del Menú */
.cont-menu{
    width: 100%;
    margin-top: -70px;

    position: relative;
    display: flex;
    transition: all .0s ease;
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter:blur(0px); 
    background: rgba(247, 247, 247, 0);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0);
    border: 1px solid rgba(255, 255, 255, 0);
}
/* Estilos por agregar en JavaScript */
.active{
    transform: translate(0px);
}

/* Estilos para el listado del Menú */
.cont-menu ul{
    padding: none;
    list-style: none;
    width: 100%;
    display: flex;
}
.cont-menu ul li{
    display: flex;
    font-size: 25px;
    text-decoration: none;
    padding-top: 0px;
    cursor: pointer;
}
.cont-menu ul li:hover{
    background-color: rgb(228,228,228);
    color: rgb(42,42,42);
}

















.descargar_curriculum_header{
    display: none;
}
}
/*@media (max-width:712px){
    -la lista de los programas que manejo
    -el h1
    - y agrandar las fotos de los proyectos
    }*/
@media (max-width:300px){
    .informacion_personal{
       display:block;
    }
/*-poner las fotos responsive "vh", 
  -mi imagen personal responsive, 
  -y el h1*/
}
